#connectble{
  z-index:200; 
  visibility:hidden; 
  position: absolute; 
  top: 45%; 
  left: 40%; 
  height: 50px; 
  width: 20%; 
  border-radius: 20px;
  background-opacity:0.5;
  color:white;
  background-color:#305CC6;
}
#noble{
  z-index:200; 
  visibility:hidden; 
  position: absolute; 
  top: 55%; 
  left: 40%; 
  height: 50px; 
  width: 20%; 
  border-radius: 20px
}


#SyncButton{
  visibility:hidden; 
  position: absolute; 
  margin-top:4px; 
  left: 97%; 
  font-size: 6px; 
  color: #A6A6A6; 
  padding:10px 10px; 
  border:0px solid #959595; 
  z-index:101; 
  background-color: #E6E6E6; 
  text-align:center; 
  opacity: 1
}



#doneTestingTask{
  visibility:hidden; 
  position: absolute; 
  top: 55%; 
  left: 70%; 
  height: 75px; 
  width: 200px; 
  border-radius: 20px; 
  z-index:101
}


#MechanicalTurk_ProgressBar{
  display: flex; 
  justify-content: space-between;
  position: absolute; 
  overflow:hidden; 
  height: 5%; 
  width:30%; 
  margin-left:35%; 
  margin-right:35%; 
  border:1px solid #BDBDBD; 
  background-color:#BDBDBD; 
  z-index:102; visibility:hidden
}

#MechanicalTurk_TrialBar{
  width: 0.3%;
  height: 98%;
  background-color: #373737;
  opacity: 0.85;
  color:white;
  font-size: 8px; 
  font-family: 'Helvetica Neue';
  z-index:103;
  overflow:hidden;
}

#bonus_counter{
  position: fixed; 
  margin-top:4px; 
  left:89%;
  max-width: 8%;
  padding:10px 10px;
  border-radius:13px border:2px solid #959595; 
  font-size: 15px; 
  font-family: 'Helvetica Neue';
  font-weight:'bolder';
  background-color: #7f7f7f;
  color: #89f497; 
  z-index:103; 
  text-align:center;
}






#DebugMessageTextBox {
   position: fixed;
   margin-top: 51px;
   left: 1px; /* space between top of browser and annoying box */
   height: 30px;
   color:white;
   font-size: 8px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   color:white;
   visibility:visible;
}

#LoadStatusTextBox {
   display: flex;
   justify-content:center;
   margin-top: 51px;
   left: 1px; /* space between top of browser and annoying box */
   height: 30px;
   color:white;
   opacity:0.85;
   font-size: 20px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   color:white;
   visibility:visible;
}

#SessionTextBox {
   position: fixed;
   margin-top: 15px;
   left: 40%; /* space between top of browser and annoying box */
   height: 34px;
   color:white;
   font-size:14px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   vertical-align:middle;
   color:#4B4B4B;
   background-color:#E4E4E4;
   border-radius:3px;
   visibility:hidden;

}

#PreviewModeSplash{
  display: table;
  position: absolute;
   height: 14%; /* https://stackoverflow.com/questions/982054/how-to-center-html-element-in-browser-window*/
   width:25%;
   left: 50%;
   margin-left:-12.5%; /* -1 * width/2 */
   font-size:12px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   text-align: center;
   vertical-align:middle;
   color:#4B4B4B;
   background-color:#E4E4E4;
   visibility:hidden;
   border-radius:8px;
   border-color:#F51212;
   border-style:solid;
}
#PreviewSplashText{
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  margin-left:10px;
  margin-right:10px;
  width:20%;
  font-size:small;
  color:black;
}



#MechanicalTurkInstructionsSplash{
  position:fixed;
  top:50%;
  left:50%;
  height:500px;
  width:500px;
  transform:translate(-50%, -50%);
  display: flex;
  align-items:center;
  flex-direction:column;
   font-size:14px; 
   z-index:103;
   font-family: 'Helvetica Neue';
   text-align: left;
   color:#4B4B4B;
   background-color:#E4E4E4;
   visibility:hidden;
   border-radius:8px;
   border-color:#E6E6E6;
   border-style:solid;
   padding-right:1%;
   padding-left:1%;
}

#InstructionSplashText{
  overflow-y:scroll;
  z-index:103;
  line-height: normal;
  width:90%;
  color:black;
}

#CloseInstructionsButton{

  z-index:103;
   text-align:center;
   width:100%; 
   height:8%;
}


#MechanicalTurkCursorDeviceSelectionScreen{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  position: absolute;
   height: 500px; /* https://stackoverflow.com/questions/982054/how-to-center-html-element-in-browser-window*/
   width:500px;
   left: 50%;
   top:50%;
   transform:translate(-50%, -50%);
   font-size:14px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   color:#4B4B4B;
   background-color:#E4E4E4;
   visibility:hidden;
   border-radius:8px;
   border-width:3px;
   border-color:#403f3f;
   border-style:solid;
}

#CloseDeviceSelectionButton{
  width:100%;
  height:20%;
}

.DeviceButton:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.DeviceButton{
  border-style:solid;
  vertical-align:bottom; 
  margin-top:5%; 
  margin-left:5%;
  border-radius:8px; 
  border-color:#e0dfdf;
  width:20%; 
  height:20%;
  max-width:100%; 
  max-height:100%
}

#MechanicalTurkHandSelectionScreen{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  position: absolute;
   height: 500px; /* https://stackoverflow.com/questions/982054/how-to-center-html-element-in-browser-window*/
   width:500px;
   top:50%;
   left: 50%;
   transform:translate(-50%, -50%);
   line-height:40%; /* https://stackoverflow.com/questions/8865458/how-do-i-vertically-center-text-with-css */
   font-size:14px; 
   z-index:102;
   font-family: 'Helvetica Neue';
   text-align: left;
   vertical-align:middle;
   color:#4B4B4B;
   background-color:#E4E4E4;
   visibility:hidden;
   border-radius:8px;
   border-color:#E6E6E6;
   border-style:solid;
}



.HandButton:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.HandButton{
  border-style:solid;
  vertical-align:bottom;
  border-radius:8px; 
  border-color:#ddd;
  max-width:35%; 
  height:auto
}